/* Basic */
@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: _palette(bg);
}
