@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    font-size: 18px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border: none;
    padding: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.search .btn {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    font-size: 28px;
    color: #ccc;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.search .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

.search.active .btn {
    border-radius: 0 10px 10px 0;
    transform: translateX(198px);
    -webkit-transform: translateX(198px);
    -moz-transform: translateX(198px);
    -ms-transform: translateX(198px);
    -o-transform: translateX(198px);
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
